[submodule "larcv1"]
	path = larcv1
	url = https://github.com/larbys/larcv
[submodule "larlite"]
	path = larlite
	url = https://github.com/larlight/larlite
[submodule "larcv2"]
	path = larcv2
	url = https://github.com/nutufts/larcv2
